/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
} */

.container {
    max-width: 100% !important;
}

.container  #logTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.container #logTable, .container #logTable th, .container #logTable td {
    border: 1px solid #ddd;
}
.container #logTable th, .container #logTable td {
    padding: 8px 12px;
    text-align: left;
}
.container #logTable th {
    background-color: #f2f2f2;
    width: 1%;
}
.container #logTable tr:hover {
    background-color: #f9f9f9;
}
.container #logTable .error { background-color: #ffcccc; }
.container #logTable .special { background-color: #a1cfff; }
.container #logTable .unknown { background-color: #b4b4b4; }
.container #logTable .extended { background-color: #ffbc85; }
.container #logTable .command { background-color: #cce5ff; }
.container #logTable .response { background-color: #d4edda; }
.container #search {
    margin-bottom: 15px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    max-width: 400px;
}
.container .status {
    margin-bottom: 15px;
    font-weight: bold;
}
.container #clearButton {
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}
.container #clearButton:hover {
    background-color: #d32f2f;
}

@media (max-width: 700px) {
    .container #logTable th:nth-child(1),
    .container #logTable td:nth-child(1),
    .container #logTable th:nth-child(6),
    .container #logTable td:nth-child(6),
    .container #logTable th:nth-child(7),
    .container #logTable td:nth-child(7) {
        display: none;
    }
}

@media (max-width: 500px) {
    .container #logTable th:nth-child(2),
    .container #logTable td:nth-child(2),
    .container #logTable th:nth-child(3),
    .container #logTable td:nth-child(3) {
        display: none;
    }
}